<!--File includes styling and content that is imported into rest of the webpages-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  <!--Link for Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <!--Creates borders for tables in leaderboard webpage-->
      <style>
          th {
            border: 1px solid black;
          }
          td {
            border: 1px solid black;
          }
      </style>
  </head>
  <body>
  <!--Adapted from https://getbootstrap.com/docs/5.3/components/navbar/ -->
  <!--Creates navbar that is used on all webpages-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <!--User can create new quiz if logged in-->
          {% if not current_user.is_anonymous %}
        <a class="navbar-brand" href="{{url_for('quiz_selection')}}">Select Quiz</a>
          {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <!--User can log or sign up if not logged in-->
              {% if current_user.is_anonymous %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('register_page')}}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
                </li>
              <!--User can view tutorial, results pages, leaderboard page, log out and delete account if logged in-->
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('tutorial_page')}}">Tutorial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_results')}}">Results</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_max_results')}}">Maximum Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('leaderboard_page')}}">Leaderboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('logout_page')}}">Log Out</a>
                </li>
              {% endif %}
          </ul>
            {% if not current_user.is_anonymous %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('delete_account_page')}}">Delete Account</a>
                    </li>
                </ul>
            {% endif %}
        </div>
      </div>
    </nav>
    <!--Says which user is currently logged in-->
    {% if not current_user.is_anonymous %}
      <h3 class="mb-5 mt-5 text-center">Now logged in as {{ current_user.username }}</h3>
    {% endif %}
    {% block content %}
    {% endblock %}

    <!--Adapted from https://www.youtube.com/watch?v=l8T2-dUGqwg&list=PLOkVupluCIjuPtTkhO6jmA76uQR994Wvi&index=10 -->
    <!--Code for displaying warning, success and info messages that are flashed to the user in different scenarios-->
    <div class="mt-5 container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <!--Links for Bootstrap CSS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>