{% extends "base.html" %}
{% block title %}End of Quiz{% endblock %}

{% block content %}
<div class="text-center mt-5">
   <h1>Quiz Completed!</h1>
   <h3 class="mt-3">You got {{ score }} out of {{ number_of_questions }} correct!</h3>
   {% if form %}
      <div class="container mt-5">
         <p>{{ final_question }}</p>
         <form method="POST" class="form-register">
            {{ form.csrf_token() }}
            {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
         </form>
      </div>
   {% endif %}
</div>
{% endblock %}