{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}

{% block content %}
<!--Webpage to display leaderboard of user results-->
<div class="mt-5">
   <h1 class="text-center">Leaderboard</h1>
   <div class="text-center">
     {% if form %}
    <form method="POST" class="form-register mx-auto w-50 mt-5">
        {{ form.csrf_token() }}

        <!--Leaderboard can be ranked by total number of or percentage amount of questions answered correctly-->
        {{ form.number_or_percentage_returned.label() }}
        {% for button in form.number_or_percentage_returned %}
        <br>
            {{ button.label() }}
            {{ button() }}
        {% endfor %}
        <br>
        <br>
        <!--User can either view results for all questions, or questions of a specific maths topic or difficulty level-->
        {{ form.results_returned.label() }}
        {% for button in form.results_returned %}
        <br>
            {{ button.label() }}
            {{ button(onchange="toggleFormFields()")}}
        {% endfor %}
        <br>
        <br>
        <div id="topicField">
            {{ form.topic_chosen.label() }}
            {{ form.topic_chosen(class="form-control") }}
        </div>
        <div id="difficultyField">
            {{ form.difficulty_chosen.label() }}
            {{ form.difficulty_chosen(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary btn-lg mt-3") }}
    </form>
  {% endif %}
  </div>
 </div>
<br>
<br>
<!--Table is displayed once user has select which results they want to view-->
  {% if form_is_submitted %}
    <table border="2" cellpadding="10" align="center">
      <tr align="center">
        <th>Ranking</th>
        <th>Username</th>
        <th>Correct Answers</th>
        <th>Incorrect Answers</th>
        <th>Percentage of Correct Answers</th>
      </tr>
      {% for user in user_results %}
        <tr align="center">
          <td>{{ loop.index }}</td>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}%</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>

<!--Code will hide dropdown menus for selecting difficulty or topic of results unless user wants to view questions of a specific maths topic or difficulty level-->
<script>
        function toggleFormFields() {
            let selectedValue = document.querySelector('input[name="results_returned"]:checked').value;

            let topicField = document.getElementById("topicField");
            let difficultyField = document.getElementById("difficultyField");

            if (selectedValue == "all") {
                topicField.style.display = "none";
                difficultyField.style.display = "none";
            } else if (selectedValue == "difficulty") {
                topicField.style.display = "none";
                difficultyField.style.display = "block";
            } else {
                topicField.style.display = "block";
                difficultyField.style.display = "none";
            }
        }
        document.addEventListener("DOMContentLoaded", toggleFormFields);
</script>
{% endblock %}