{% extends "base.html" %}
{% block title %}Quiz Page{% endblock %}

{% block content %}
<div class="text-center mt-5">
   <h1>Quiz Page</h1>
   <h3 class="mt-5">Current Difficulty: Level {{ current_difficulty }}</h3>
   <h4 class="mt-3">Score: {{ score }}</h4>
   <h5 class="mt-5">Question {{ question_number }}</h5>
   {% if multiple_answers == "No" %}
      <div class="container mt-3">
         <p>{{ final_question }}</p>
         <form method="POST" class="form-register">
            {{ form.csrf_token() }}
            {{ form.answer.label() }}
            {{ form.answer(class="form-control", placeholder="Answer") }}

            {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
         </form>
      </div>
   {% elif multiple_answers == "TwoSame" %}
      <div class="container mt-3">
         <p>{{ final_question }}</p>
         <form method="POST" class="form-register">
            {{ form.csrf_token() }}
            {{ form.answer_x_1.label() }}
            {{ form.answer_x_1(class="form-control", placeholder="X1") }}
            {{ form.answer_x_2.label() }}
            {{ form.answer_x_2(class="form-control", placeholder="X2") }}

            {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
         </form>
      </div>
   {% elif multiple_answers == "TwoDifferent" %}
      <div class="container mt-3">
         <p>{{ final_question }}</p>
         <form method="POST" class="form-register">
            {{ form.csrf_token() }}
            {{ form.answer_x.label() }}
            {{ form.answer_x(class="form-control", placeholder="X") }}
            {{ form.answer_y.label() }}
            {{ form.answer_y(class="form-control", placeholder="Y") }}

            {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
         </form>
      </div>
   {% elif multiple_answers == "FourDifferent" %}
      <div class="container mt-3">
         <p>{{ final_question }}</p>
         <form method="POST" class="form-register">
            {{ form.csrf_token() }}
            {{ form.answer_x_1.label() }}
            {{ form.answer_x_1(class="form-control", placeholder="X1") }}
            {{ form.answer_x_2.label() }}
            {{ form.answer_x_2(class="form-control", placeholder="X2") }}
            {{ form.answer_y_1.label() }}
            {{ form.answer_y_1(class="form-control", placeholder="Y1") }}
            {{ form.answer_y_2.label() }}
            {{ form.answer_y_2(class="form-control", placeholder="Y2") }}

            {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
         </form>
      </div>
   {% endif %}
</div>
{% endblock %}
